<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
<div class="jumbotron">
    <h1>Phorest Voucher API: Ruby</h1> 
    <p>This is an example of the Phorest voucher API built with Ruby and Sinatra.</p> 
  </div>
</div>
<div class="center">
<form action="/vouchercreated" method="get" style="margin-left:40%; margin-top:60px;">
<div class="form-group">
  <div class="col-md-4">
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-eur"></i></span>
<input type="text" class="form-control" placeholder="Enter Your Voucher Value" id="voucher_val" name="voucher_val">
<span class="input-group-addon">.00</span>
</div>
<br>
  <div class="input-group">
<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
<input type="text" class="form-control" placeholder="Enter Your Email Address" id="user_email" name="user_email">

</div>
<br>

  
  </div>

</div>




</fieldset>
<div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Next <i class="fa fa-arrow-right"></i></button>
</div>
</form>

