<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<br>
<div class="container">
<div class="alert alert-success" role="alert" style="width:50%; margin-left:25%; padding-right:0px;">Congratulations! your voucher has been created, your serial number is <strong><%= @@serial_number%></strong></div>
<br>
<h4 style="margin-left:25%;"><a href="/voucher_pdf">Download your voucher <i class="fa fa-file-pdf-o"></i></a> </h4>
</div>



